<mat-card>
  <mat-card-content>
    <h2 class="font-medium text-xl text-gray-800 mt-8">Welcome back!</h2>
    <form
      (keydown.enter)="login()"
      [formGroup]="form"
      class="flex flex-col gap-4 mt-8"
    >
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="joseperu2503@gmail.com"
          formControlName="email"
          name="email"
        />
        <mat-icon fontIcon="alternate_email" matSuffix></mat-icon>
        <!-- validaciones del frontend -->
        <mat-error *ngIf="form.controls.email.hasError('required')">
          Email is required.
        </mat-error>
        <mat-error *ngIf="form.controls.email.hasError('email')">
          Please enter a valid email.
        </mat-error>
        <!-- validaciones del backend -->
        <mat-error *ngIf="form.controls.email.hasError('invalid')">
          {{ form.controls.email.getError("invalid") }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="12345678"
          formControlName="password"
          [type]="showPassword ? 'text' : 'password'"
          name="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="showPassword = !showPassword"
        >
          <mat-icon>
            {{ showPassword ? "visibility_off" : "visibility" }}
          </mat-icon>
        </button>
        <!-- validaciones del frontend -->
        <mat-error *ngIf="form.controls.password.hasError('required')">
          Password is required.
        </mat-error>
        <!-- validaciones del backend -->
        <mat-error *ngIf="form.controls.password.hasError('invalid')">
          {{ form.controls.password.getError("invalid") }}
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="login()"
        [disabled]="loading"
        type="button"
      >
        <div class="flex gap-4">
          <mat-spinner diameter="20" *ngIf="loading"></mat-spinner>
          Login
        </div>
      </button>
    </form>
    <div class="text-xs text-zinc-600 mt-4 pb-4">
      Don't have an account?
      <button class="font-bold hover:underline" (click)="goRegister()">
        Sign up for free
      </button>
    </div>
  </mat-card-content>
</mat-card>
