<div class="bg-violet-50 bg-opacity-30">
  <mat-toolbar color="primary" class="fixed top-0 z-10">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Crud Angular Material</span>
    <span class="flex-1"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div class="px-3 py-3">
        <div class="font-medium text-gray-700">Jose Perez</div>
        <div class="text-sm text-gray-500">joseperez@gmail.com</div>
      </div>

      <button mat-menu-item><mat-icon>person</mat-icon>Profile</button>
      <button mat-menu-item><mat-icon>settings</mat-icon>Settings</button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon> Logout
      </button>
    </mat-menu>
  </mat-toolbar>
  <div class="pt-16 min-h-screen">
    <mat-drawer-container class="w-full" autosize>
      <mat-drawer #drawer class="w-60" mode="over">
        <div class="flex flex-col justify-between h-full px-4 py-8">
          <div class="flex flex-col gap-3">
            <a
              class="bg-purple-50 px-4 h-12 rounded-lg text-gray-800 text-base w-full flex items-center hover:bg-purple-100"
              [routerLink]="item.url"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
              *ngFor="let item of menuItems"
              (click)="drawer.toggle()"
              matRipple
            >
              <mat-icon class="mr-2">{{ item.icon }}</mat-icon>
              {{ item.label }}
            </a>
          </div>
          <button
            mat-button
            color="warn"
            class="mt-4"
            type="button"
            (click)="logout()"
          >
            <mat-icon>logout</mat-icon>
            Logout
          </button>
        </div>
      </mat-drawer>

      <div class="max-w-5xl mx-auto px-4 py-10 body-height">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-container>
  </div>
</div>
