<mat-card>
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      [formGroup]="form"
      (keydown.enter)="submit()"
      class="grid grid-cols-1 md:grid-cols-2 mt-6 gap-6"
    >
      <div class="flex flex-col gap-2">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
          <mat-error *ngIf="form.controls.name.hasError('required')">
            Name is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea
            matInput
            formControlName="description"
            [cdkTextareaAutosize]="true"
          ></textarea>
          <mat-error *ngIf="form.controls.description.hasError('required')">
            Description is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Brand</mat-label>
          <mat-select formControlName="brand_id">
            <mat-option *ngFor="let brand of brands" [value]="brand.id">
              {{ brand.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Price</mat-label>
          <input matInput type="number" formControlName="price" />
          <span matTextPrefix>$. &nbsp;</span>
          <mat-error *ngIf="form.controls.price.hasError('required')">
            Price is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Stock</mat-label>
          <input matInput type="number" formControlName="stock" />
          <mat-error *ngIf="form.controls.stock.hasError('required')">
            Stock is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select formControlName="category_id">
            <mat-option
              *ngFor="let category of categories"
              [value]="category.id"
            >
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <mat-button-toggle-group
            multiple
            formControlName="genders"
            class="w-full"
          >
            <mat-button-toggle
              [value]="gender.id"
              *ngFor="let gender of genders"
              class="flex-1"
            >
              {{ gender.name }}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="mt-4">
          <mat-button-toggle-group
            multiple
            formControlName="sizes"
            class="w-full"
          >
            <mat-button-toggle
              [value]="size.id"
              *ngFor="let size of sizes"
              class="flex-1"
            >
              {{ size.name }}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <div class="flex flex-col">
        <mat-card-title>Colors</mat-card-title>
        <!-- sin el ngif sale un error-->
        <mat-form-field *ngIf="colorPicker" class="mt-4">
          <mat-label>Color</mat-label>
          <input
            matInput
            [(ngModel)]="colorPicker"
            type="color"
            [ngModelOptions]="{ standalone: true }"
          />
        </mat-form-field>
        <div class="flex flex-wrap gap-2">
          <div
            class="w-10 h-10 rounded-full"
            *ngFor="let color of form.value.colors"
            [ngStyle]="{ backgroundColor: color }"
          ></div>
          <button
            mat-mini-fab
            matTooltip="Add color"
            color="primary"
            type="button"
            (click)="addColor()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="my-4">
          <mat-divider></mat-divider>
        </div>
        <mat-card-title>Images</mat-card-title>
        <input
          #inputImages
          type="file"
          (change)="uploadImages($event)"
          accept="image/png, image/jpeg"
          multiple
          class="hidden"
        />
        <button
          mat-raised-button
          color="primary"
          (click)="clickAddImage()"
          class="mt-4"
          type="button"
        >
          <mat-icon>add_photo_alternate</mat-icon>
          Upload images
        </button>
        <div
          class="mt-4 h-[300px]"
          *ngIf="form.controls.images.value.length > 0"
        >
          <!-- le agrege la condicional del loading porque no reenderiza bien cuando se agregan imagenes al array de imagenes -->
          <swiper-container
            slides-per-view="1"
            navigation="true"
            pagination="true"
            *ngIf="!loadingImage"
          >
            <swiper-slide *ngFor="let image of form.value.images">
              <img [src]="image" alt="image" class="h-[300px] mx-auto" />
            </swiper-slide>
          </swiper-container>
        </div>
        <div class="mt-4">
          <mat-divider></mat-divider>
        </div>
        <mat-slide-toggle
          formControlName="free_shipping"
          color="primary"
          class="mt-4"
        >
          Free shipping
        </mat-slide-toggle>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      mat-button
      class="mr-3"
      [disabled]="loading"
      type="button"
      (click)="cancel()"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="loading"
      type="button"
      (click)="submit()"
    >
      Save
    </button>
  </mat-card-actions>
  <mat-card-footer *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
